#subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    height: 100vh;

    & h2 {
        text-align: center;
        font: var(--title-sm);
    }

    & .container-subscription {
        display: flex;
        margin-top: 5.5rem;
        position: relative;

        & .card-subscription:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 4.375rem;
            z-index: 0;

            position: absolute;
            top: 0;
            right: 0;
            rotate: 0;
            width: 286px;

            
            background-color: var(--shape-base);
            border: 1px solid var(--shape-stroke);
            border-radius: 1.5rem;
            padding: 2rem;

            transition: all 400ms ease;

            & .header-subscription {
                & h3 {
                    font: var(--title-xs);
                    color: var(--blue-light);
                }

                & div:nth-child(2) {
                    & p:nth-child(1) {
                        font: var(--title-md);
                        color: var(--text-title);
                        margin-top: 1.5rem;

                        & small {
                            font: var(--title-xs);
                        }
                    }
                    & p:nth-child(2) {
                        font: var(--body-sm);
                        color: var(--text-label);
                        margin-top: .5rem;
                    }
                }
            }

            & .card-items {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                & div {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    & img {
                        height: 0.875rem;
                        width: 0.875rem;
                    }

                    & span {
                        font: var(--body-xs);
                    }
                }

                & a {
                    font: var(--button);
                    color: var(--text-title);
                    margin-top: 1.5rem;

                    background-color: var(--blue-dark);
                    padding: .75rem 0;
                    text-align: center;
                    border-radius: .5rem;
                }
            }

            & img:nth-child(3) {
                position: absolute;
                bottom: 100%;
            }
        }

        & .card-subscription:nth-child(2) {
            display: flex;
            flex-direction: column;
            min-width: 19rem;
            gap: 4.375rem;

            background-color: var(--shape-hover);
            border-radius: 1.5rem;
            border: 1px solid var(--shape-hover);
            padding: 2rem;
            position: relative;
            z-index: 1;

            transition: all 400ms ease;
    
            & .header-subscription {
                & h3 {
                    font: var(--title-xs);
                    color: var(--pink-light);
                }

                & div:nth-child(2) {
                    font: var(--tag);
                    background-color: var(--shape-stroke);
                    padding: 0.6rem 1.25rem;
                    position: absolute;
                    top: 8%;
                    right: 9%;
                    text-transform: uppercase;
                    border-radius: 62rem;
                }

                & div:nth-child(3) {
                    & p:nth-child(1) {
                        font: var(--title-md);
                        color: var(--text-title);
                        margin-top: 1.5rem;

                        & small {
                            font: var(--title-xs);
                        }
                    }
                    & p:nth-child(2) {
                        font: var(--body-sm);
                        color: var(--text-label);
                        margin-top: .5rem;
                    }
                }
            }

            & .card-items {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                & div {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    & img {
                        height: 0.875rem;
                        width: 0.875rem;
                    }

                    & span {
                        font: var(--body-xs);
                    }
                }

                & a {
                    font: var(--button);
                    color: var(--text-title);
                    margin-top: 1.5rem;

                    background-color: var(--pink-dark);
                    padding: .75rem 0;
                    text-align: center;
                    border-radius: .5rem;
                }
            }

            & img:nth-child(3) {
                position: absolute;
                bottom: 100%;
            }
        }

        & .card-stars:nth-child(3) {
            display: flex;
            align-items: baseline;

            position: absolute;
            left: 100%;
            top: 100%;
            gap: 1rem;

            & img:nth-child(1) {
                width: .75rem;
                height: .75rem;
            }
            & img:nth-child(2) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        & .card-stars:nth-child(4) {
            display: flex;
            align-items: baseline;
            
            position: absolute;
            right: 100%;
            bottom: 100%;
            gap: 1rem;
            rotate: 300deg;

            & img:nth-child(1) {
                width: .75rem;
                height: .75rem;
            }
            & img:nth-child(2) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        & .card-subscription:nth-child(5) {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            z-index: 0;

            position: absolute;
            top: 0;
            left: 0;
            rotate: 0deg;
            width: 286px;

            background-color: var(--shape-base);
            border: 1px solid var(--shape-stroke);
            border-radius: 1.5rem;
            padding: 2rem;
            

            transition: all 400ms ease;
    
            & .header-subscription {
                & h3 {
                    font: var(--title-xs);
                    color: var(--blue-light);
                }

                & div:nth-child(2) {
                    & p:nth-child(1) {
                        font: var(--title-md);
                        color: var(--text-title);
                        margin-top: 1.5rem;

                        & small {
                            font: var(--title-xs);
                        }
                    }
                    & p:nth-child(2) {
                        font: var(--body-sm);
                        color: var(--text-label);
                        margin-top: .5rem;
                    }
                }
            }

            & .card-items {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                & div {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    & img {
                        height: 0.875rem;
                        width: 0.875rem;
                    }

                    & span {
                        font: var(--body-xs);
                    }
                }

                & a {
                    font: var(--button);
                    color: var(--text-title);
                    margin-top: 1.5rem;

                    background-color: var(--blue-dark);
                    padding: .75rem 0;
                    text-align: center;
                    border-radius: .5rem;
                    box-shadow: 0 0 16 0 rgba(0, 25, 51, 0.1);
                }
            }

            & img:nth-child(3) {
                position: absolute;
                bottom: 100%;
            }
        }
    }

    & .container-subscription.ativo {
        & .card-subscription:nth-child(1) {
            animation: slideLeft 400ms ease-out forwards;
        }

        & .card-stars:nth-child(3) {
            animation: rightStar 400ms ease-out forwards;
        }

        & .card-stars:nth-child(4) {
            animation: leftStar 400ms ease-out forwards; 
        }

        & .card-subscription:nth-child(5) {
            animation: slideRight 400ms ease-out forwards;
        }

    }
    
    & .card-subscription:nth-child(2).active {
        animation: hoverOut 400ms ease both;
    }
    

}

@keyframes slideLeft {
    0% {
        top: 0;
        right: 0;
        rotate: 0;
    }

    100% {
        top: 15%;
        right: 103%;
        rotate: -8deg;
    }
}

@keyframes slideRight {
    0% {
        top: 0;
        left: 0;
        rotate: 0deg;
    }

    100% {
        top: 15%;
        left: 103%;
        rotate: 8deg;
    }
}

@keyframes leftStar {
    0% {
        right: 100%;
        bottom: 100%;
    }

    100% {
        right: 200%;
        bottom: 80%;
    }
}

@keyframes rightStar {
    0% {
        left: 100%;
        top: 100%;
    }

    100% {
        left: 182%;
        top: 114%;
    }
}

@keyframes hoverOut {
    0% {
        background-color: var(--shape-hover);
        z-index: 1;
        border: 1px solid var(--shape-hover);
    }

    100% {
        background-color: var(--shape-base);
        border: 1px solid var(--shape-hover);
        z-index: -1;
    }
}
